<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yocn.testashmen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAshmen">
        <service
            android:name="com.yocn.testashmen.MyService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.yocn.testashmen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <!-- https://www.jianshu.com/p/2863c02884e6 -->
<!--    <queries>-->
<!--        <package android:name="com.yocn.testashmen.MyService" />-->
<!--    </queries>-->
</manifest>